<a href="https://colab.research.google.com/github/jongheonleee/study_python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC%ED%95%B5%EC%8B%AC%EB%82%B4%EC%9E%A5%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
'''
오늘 공부할 파이썬 내장함수
A로 시작되는 내장함수
- abs()
- all()
- any()
'''

'\n오늘 공부할 파이썬 내장함수\nA로 시작되는 내장함수\n- abs()\n- all()\n- any()\n'

In [22]:
# abs() 
# 숫자의 절댓값을 돌려줍니다. 
# 인자는 정수, 실수 또는 __abs__()를 구현하는 객체입니다. 
# 인자가 복소수면 그 크기가 반환됩니다.

print(abs(-3))
print(abs(-3.2456))
print(abs(7-10))

3
3.2456
3

In [23]:
# all()
# iterable 의 모든 요소가 참이면 (또는 iterable 이 비어있으면) True 를 돌려줌

def all(iterable) -> bool:
  # iterable can be many datatype - list, str, like so on
  # but those must be iterable
  for e in iterable:
    if not e:
      return False

  return True

lst1 = ['t', 'c', 1, 3, "hi", 3.24, True]
lst2 = [0, True, True, True]
lst3 = [1, 1, 1, False]

for lst in [lst1, lst2, lst3]:
  print(all(lst))

True
False
False

In [24]:
# any()
# iterable 의 요소 중 어느 하나라도 참이면 True 를 돌려줌
# iterable이 비어 있으면 False 를 돌려줌

def any(iterable) -> bool:
  for e in iterable:
    if e:
      return True

  return False

lst1 = ['t', 'c', 1, 3, "hi", 3.24, True]
lst2 = [0, True, True, True]
lst3 = [1, 1, 1, False]
lst4 = []

for lst in [lst1, lst2, lst3, lst4]:
  print(any(lst))

True
True
True
False